.card-container{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-top: 85.5px;
    margin-top: 100px;
   
    
    
}

:host{
    padding-top: 85.5px;
    height: 100%;
}
.mat-mdc-raised-button{
    border-radius: 50px;
}

.container-button-page-lista-utenti{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 5px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    
    
}

.edit-button{
    position: absolute;
    bottom: 0px;
    right: 0px;
    border: none;
    background-color: transparent;
}