<div>
  <div>
    <app-filters (inviaDati)="callPersone($event)"></app-filters>
  </div>
  
  <div>
    <mat-table [dataSource]="persone">
      
      <!-- Colonna Nome -->
      <ng-container matColumnDef="nome">
        <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
        <mat-cell *matCellDef="let p">{{ p.nome }}</mat-cell>
      </ng-container>

      <!-- Colonna Cognome -->
      <ng-container matColumnDef="cognome">
        <mat-header-cell *matHeaderCellDef> Cognome </mat-header-cell>
        <mat-cell *matCellDef="let p">{{ p.cognome }}</mat-cell>
      </ng-container>

      <!-- Colonna Azioni -->
      <ng-container matColumnDef="azioni">
        <mat-header-cell *matHeaderCellDef> Azioni </mat-header-cell>
        <mat-cell *matCellDef="let p">
          <button mat-button (click)="modifica(p)" color="primary">Modifica</button>
          <button mat-button (click)="dettagli(p)" color="primary">Dettagli</button>
        </mat-cell>
      </ng-container>

      <!-- Definizione delle righe della tabella -->
      <mat-header-row *matHeaderRowDef="colonneVisualizzate"></mat-header-row>
      <mat-row *matRowDef="let row; columns: colonneVisualizzate;"></mat-row>
    </mat-table>

    <mat-paginator 
      [length]="totalElement" 
      [pageSize]="pageSize" 
      [pageSizeOptions]="[5, 10, 25, 100]" 
      aria-label="Select page"
      (page)="changePage($event)">
    </mat-paginator>
  </div>
</div>
