
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
}

main{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-around;
    height: 50vh;
    width: 50vw;
    border: 2px solid;
    border-radius: 10px;
}

h1{
    position: absolute;
    top: 0;
}

html{
    height: 100%;
}

.nav-utenti{
    display: flex;
}

#lista-utenti{
    position: absolute;
    top: 0;
}