<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Filtro</mat-panel-title>
      <mat-panel-description>
        <mat-icon>account_circle</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <form [formGroup]="filterForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>Nome</mat-label>
        <input matInput formControlName="nome"/>
        <mat-error *ngIf="!filterForm.get('nome')?.valid">Nome non valido</mat-error>
        

      </mat-form-field>

      <mat-form-field>
        <mat-label>Cognome</mat-label>
        <input matInput formControlName="cognome"/>
        @if (!filterForm.get('cognome')?.valid) {
        <mat-error>Cognome non valido</mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>Città</mat-label>
        <input matInput formControlName="citta"/>
        @if (!filterForm.controls.citta.valid) {
        <mat-error>Città non valida</mat-error>
        }
        
      </mat-form-field>

      <mat-form-field>
        <mat-label>Data di nascita da → a</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate formControlName="dataNascitaMin" placeholder="Data Inizio">
          <input matEndDate formControlName="dataNascitaMax" placeholder="Data Fine">
        </mat-date-range-input>
        <mat-hint>YYYY/MM/DD - YYYY/MM/DD</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>

        @if (filterForm.controls.dataNascitaMin.hasError('matStartDateInvalid')) {
        <mat-error>Data inizio non valida</mat-error>
        }
        @if (filterForm.controls.dataNascitaMax.hasError('matEndDateInvalid')) {
        <mat-error>Data fine non valida</mat-error>
        }
      </mat-form-field>
      <button mat-raised-button color="primary">Filtra</button>
    </form>


  </mat-expansion-panel>

</mat-accordion>