/* You can add global styles to this file, and also import other style files */


@use '@angular/material' as mat;
@include mat.core();
 
$anagrafica-primary-color: mat.define-palette(mat.$blue-palette, 500);
$anagrafica-accent-color: mat.define-palette(mat.$green-palette, A200,A100,A400);
$anagrafica-warn-color: mat.define-palette(mat.$red-palette);
 
 
$anagrafica-light-theme: mat.define-light-theme((
 color: (
   primary: $anagrafica-primary-color,
   accent: $anagrafica-accent-color,
   warn: $anagrafica-warn-color,
 ),
 typography: mat.define-typography-config(),
 density:0,
));
 
@include mat.core-theme($anagrafica-light-theme);
//@include mat.button-theme($anagrafica-light-theme);
@include mat.all-component-themes($anagrafica-light-theme);
 
 
 
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
 
.dark-theme {
  background-color: #121212;
  color: #ffffff;
}