*{
    text-align: center;
}

.intestazione{
    background-color: blue;
    color: white;
}

table *{
    border: 1px solid black;   
    
}

table{
    /* border-collapse: collapse; serve a mettere assieme le righe dei bordi senza spazio */
    width: 67vw;
    height: 67vh;
    min-width: 300px;
    max-width: 1200px;
    margin-left: auto;
}

tr:nth-child(even):not(.intestazione){
    background-color: white;
}

tr:nth-child(odd):not(.intestazione){
    background-color: gray;
}

table tr:last-child td:last-child{
    background-color: red;
}

.centrato{
    text-align: center;
}

@media screen and  (max-width:768px) {
    tr:nth-child(even):not(.intestazione){
        background-color: #ADD8E6;
    }

    tr:nth-child(odd):not(.intestazione){
        background-color: green;
    }
    
}