:host {
    display: flex;
    justify-content: center;
    margin: 100px 0px;
    margin-top: 150px;
    
  }

  mat-card{
    border-radius: 50px;
  }



.mat-mdc-form-field {
    width: 100%;
    min-width: 300px;
  }

  mat-card-title,
  mat-card-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.button {
    display: flex;
    justify-content: flex-end;
  }

.mat-mdc-raised-button{
    border-radius: 50px;
}

 /* .mdc-text-field--filled:not(.mdc-text-field--disabled){ perchè non funziona?
  background-color: transparent;
} */

