.container-button-homepage{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    gap: 10px;
    
}

.button-homepage{
    border-radius: 50px;
}

