<form class="container-login" [formGroup]="formLogin"
  (submit)="onSubmitLoginForm($event.submitter?.id)">
  <mat-form-field>
    <mat-label>Username</mat-label>
    <input matInput color="primary" formControlName="username">
    <mat-error *ngIf="!username?.valid">Username non valido</mat-error>

  </mat-form-field>

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput type="password" color="primary" formControlName="password">
    <mat-error *ngIf="!password?.valid">Password non valida</mat-error>
  </mat-form-field>

  <button mat-raised-button [disabled]="!formLogin.valid" [id]="EnumAuth.Login" color="primary">Login</button>
  <button mat-raised-button [disabled]="!formLogin.valid" [id]="EnumAuth.Register" color="primary">Register</button>

</form>