<form class="container-login" fxLayout="column" fxLayoutAlign="center center" [formGroup]="formLogin"
  (submit)="onSubmitLoginForm()">
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput type="email" color="primary" formControlName="email">
    <mat-error *ngIf="!email?.valid">Email non valida</mat-error>

  </mat-form-field>

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput type="password" color="primary" formControlName="password">
    <mat-error *ngIf="!password?.valid">Password non valida</mat-error>
  </mat-form-field>

  <button mat-raised-button mat-dialog-close [disabled]="!formLogin.valid" color="primary">Login</button>

</form>